body {
  color:black;
  background-color: #b6bde7;
  font-family: 'Roboto', sans-serif;
}


.heading {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #0072ff, #8811c5);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
}

.form-content {
  padding: 5%;
  margin-bottom: 10.5%;
}

.form-control {
  border-radius: 1.5rem;
}

.btnSubmit {
  border: none;
  border-radius: 1.5rem;
  padding: 1%;
  width: 5%;
  cursor: pointer;
  background: blue;
  color: #fff;
}